.SlotsScenes{
    width: 100%;
    display: flex;
    flex-direction: column;

    
    margin-top: 20px;
}
.Bookmark{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid yellow;
    max-width: 200px;
    overflow: hidden;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
