*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.basic-single{
    color: black;
}
.App{
    width: 80%;
    margin: auto;
    min-width: 600px;
}
.container_row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.container_column{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.con_input{
    display: flex;
    
    align-items: center;
}
.con_but{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid saddlebrown;
}
.con_but:hover{
    background-color: seagreen;
}



.None_Filde{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 63, 63, 0.479);
  margin-left: -10%;
  margin-top: -20px;
  z-index: 3;
}